<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">News Scraper</a>
    <!-- Collapse to hamburger menu when on mobile screens -->
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <!-- Must add links!!! -->
      <li><a href="#">Home</a></li>
      <li><a href="#">Saved Articles</a></li>
      <li><a class="waves-effect waves-light btn" id="scrape-button">Scrape New Articles</a></li>
    </ul>
    <!-- Side menu display -->
    <ul class="side-nav" id="mobile-demo">
      <!-- Must add links!!! -->
      <li><a href="#">Home</a></li>
      <li><a href="#">Saved Articles</a></li>
      <li><a class="waves-effect waves-light btn">Scrape New Articles</a></li>
    </ul>
  </div>
</nav>